# Required for my dotfile management setup
alias dots='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

# Navigation
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though

# Git
alias gcl="git clone"
alias gb="git branch"
alias gf="git fetch"
alias ga="git add"
alias gd="git diff"
alias gco="git checkout"
alias gcm="git checkout master"
alias gc="git commit"
alias gst="git status"

# Shortcuts
alias v="vim"

# Overrides
alias sudo="sudo -E " # carry over environment to sudo commands
alias cp="cp -i"      # confirm before overwriting something
alias mv="mv -i"      # confirm before overwriting something
alias df="df -h"      # human-readable sizes
alias du="du -h"      # human-readable sizes
alias free="free -m"  # human-readable sizes
alias ll="ls -l"      # detailed file list
alias la="ls -lA"     # detailed file list with hidden files
alias wh="which -aS"  # Informative version of which
