#!/bin/bash

function godocs() {
  godoc ${@:1} | less
}

# =====================================
# Kubernetes / Helm functions
# =====================================

# hlweb pod name for a release
function hlweb_pod_name() {
  release=$1
  pod_name=$(kubectl get pods -l name="$release"-hlweb -o=name)
  pod_name=${pod_name:4}
  echo $pod_name
}

# Rails console on the hlweb pod for a release
function kubecon() {
  release=$1
  pod_name=$(hlweb_pod_name "$release")
  kubectl exec $pod_name -c hlweb -it -- bundle exec "rails c"
}

# Logs on the hlweb pod for a release
function kubelog() {
  release=$1
  pod_name=$(hlweb_pod_name "$release")
  kubectl logs $pod_name -c hlweb -f
}

# Bash shell on the hlweb pod for a release
function kubeshell() {
  release=$1
  pod_name=$(hlweb_pod_name "$release")
  kubectl exec $pod_name -c hlweb -it -- /bin/bash
}

function kubepods() {
  kubectl get pods
}
