#!/bin/bash

function godocs() {
  if [ "$#" -ne 1 ]; then
    sleep 2 &&
    open /Applications/Google\ Chrome.app http://localhost:6060/pkg/ &
    godoc -http=":6060"
  else
    godoc ${@:1} | less
  fi
}
